<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boutline.sports" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.boutline.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.boutline.gcm.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:theme="@style/Theme.Bostyle" >

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/APP_ID" />

        <activity
            android:name=".activities.DummyDesignActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Walkthrough0"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Walkthrough1"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Walkthrough2"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Walkthrough3"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FacebookLogin"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label=""
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.BoardActivity"
            android:label=""
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.BanterActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewBanterActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ConversationActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ComposeTweetActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.ChooseSportsActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseTournamentActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseMatchActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TweetDetailsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />

        <activity
            android:name=".activities.TwitterLogin"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="oauth" android:host="t4jsample"/>

            </intent-filter>
            </activity>

        <activity
            android:name=".activities.NotificationRedirect"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:exported="true"
            >

            </activity>
        <activity
            android:name=".activities.TwitterWebViewLogin"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />




        <!-- New activities come here -->

        <activity
            android:name=".activities.SignupActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.LoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.MPRActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />
        <activity
            android:name=".activities.CreateProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" />

        <receiver
            android:name="com.boutline.sports.receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.boutline.sports.gcm" />
            </intent-filter>
        </receiver>

        <service android:name="com.boutline.sports.services.GCMIntentService" />



        <provider
            android:name="com.boutline.sports.ContentProviders.SportProvider"
            android:authorities="com.boutline.sports.provider"
            android:multiprocess="true"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <provider
            android:name="com.boutline.sports.ContentProviders.TournamentProvider"
            android:authorities="com.boutline.tournaments.provider"
            android:multiprocess="true"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <provider
            android:name="com.boutline.sports.ContentProviders.MatchProvider"
            android:authorities="com.boutline.matches.provider"
            android:multiprocess="true"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <provider
        android:name="com.boutline.sports.ContentProviders.TweetProvider"
        android:authorities="com.boutline.tweets.provider"
        android:multiprocess="true"
        android:enabled="true"
        android:exported="true" >
    </provider>
        <provider
            android:name="com.boutline.sports.ContentProviders.ConversationProvider"
            android:authorities="com.boutline.conversations.provider"
            android:multiprocess="true"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <provider
            android:name="com.boutline.sports.ContentProviders.MessageProvider"
            android:authorities="com.boutline.messages.provider"
            android:multiprocess="true"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <provider
            android:name="com.boutline.sports.ContentProviders.BanterMessageProvider"
            android:authorities="com.boutline.bantermessages.provider"
            android:multiprocess="true"
            android:enabled="true"
            android:exported="true" >
        </provider>

    </application>

</manifest>
